header.header.container#someId
	include ../components/link
	h1(title='some title') test
	h2 OK
	p Lorem ipsum dolor sit 
		span amet.
		| main text
	img.bg(src='./assets/images/bg.png' alt='some text' class='added')
	p Lorem ipsum dolor sit,
		| amet consectetur adipisicing elit.
		| Officia consequatur ut nihil odio expedita,
		| earum nam! Quam iusto soluta exercitationem
		| nesciunt qui, fugit, vero molestiae nostrum,
		| consequatur voluptatum quaerat officiis!